body {
    padding-top: 54px;
    background-color: hotpink;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}
.col-lg-4 {
  border: dashed 13px lightgreen;
  padding: 0;
  margin: 0;
}
.card {
  margin: 0;
  padding: 0;
}
.h-100 {
  padding: 0;
  margin: 0;
  background-color: lightblue;
}
.card-img-top {
  background-color: yellow;
}
.my-4 {
  color: yellow;
  text-shadow: 7px 7px lightgreen;
  text-align: center;
  font-family: 'Creepster', cursive;
}


.my-4 {
  animation: rollercoaster 100s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes rollercoaster {
  /*0% {transform: rotate(0deg);}*/
  /*10% {transform: rotate(36deg);}
  20% {transform: rotate(72deg);}
  30% {transform: rotate(108deg);}
  40% {transform: rotate(144deg);}
  50% {transform: rotate(180deg);}
  60% {transform: rotate(216deg);}
  70% {transform: rotate(252deg);}
  80% {transform: rotate(288deg);}
  90% {transform: rotate(324deg);}*/
  100% {transform: rotate(3600deg);}
}
